.formContainer {
  padding: 50px 50px;
  width: 700px;
}

.nameLabel span {
  width: 130px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.textLabel span {
  width: 130px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.addPizzaButton {
  margin: 20px auto;
}
